<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hola mundo</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p th:text="'Mensaje recibido -> '+ ${mensaje} + '!'" />
    </body>
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">Pagina principal</a>
    </div>
</html>